<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>animate3D</title>
        <link rel="stylesheet" href="../css/reset.css" media="screen" title="no title">
        <link rel="stylesheet" href="../css/common.css" media="screen" title="no title">
        <link rel="stylesheet" href="../css/animate3D.css" media="screen" title="no title">
    </head>

    <body>
        <div class="wrapper root">
            <div class="nav clear" id="head">
                <ul class="nav_wrapper clear">
                    <li class="nav_item_normal"><a href="home.html">Home</a></li>
                    <li class="nav_item_normal"><a href="about.html">About</a></li>
                    <li class="nav_item_normal"><a href="rendering.html">Renderings</a></li>
                    <li class="nav_item_normal"><a href="bim.html">BIM</a></li>
                    <li class="nav_item_active"><a href="animate3D.html">3D Animate</a></li>
                    <li class="nav_item_normal"><a href="contact.html">Contact</a></li>
                </ul>
                <img src="../public/imgs/nav.png" alt="" class="nav_icon">
            </div>
            <div class="content" id="content">
                <div class="content_maintitle_wrapper">
                    <img src="../public/imgs/line_yellow.png" alt="" class="line_yellow" />
                    <p class="content_maintitle">3D ANIMATE</p>
                    <img src="../public/imgs/line_yellow.png" alt="" class="line_yellow" />
                </div>
                <div class="video">
                    <div class="video_shortcut">
                        <div class="video_wrapper">
                            <img src="../public/imgs/3D-p1.jpg" alt="" />
                            <div class="video_desc">
                                <p>3D ANIMATE</p>
                                <p>Nosape eaqui non nobitati te ommos deria nos quatur? Pario comnit reris aut modic tecuptat omni ad explanditam verupis nia sequist la et liquo omnia</p>
                            </div>
                            <img src="../public/imgs/play.png" alt="" class="playbtn" />
                        </div>
                    </div>
                </div>

                <div class="content_main">
                    <div class="content_3d_item">
                        <div class="item_img_wrapper">
                            <img src="../public/imgs/3D-p1.jpg" alt="" />
                            <img src="../public/imgs/play.png" alt="" class="playbtn" />
                        </div>
                        <div class="item_desc_wrapper">
                            <p>3D ANIMATE</p>
                            <p>Nosape eaqui non nobitati te ommos deria nos quatur? Pario comnit reris aut modic tecuptat omni ad explanditam verupis nia sequist la et liquo omnia</p>
                        </div>
                    </div>
                    <div class="content_3d_item">
                        <div class="item_desc_wrapper desc_in_left">
                            <p>3D ANIMATE</p>
                            <p>Nosape eaqui non nobitati te ommos deria nos quatur? Pario comnit reris aut modic tecuptat omni ad explanditam verupis nia sequist la et liquo omnia</p>
                        </div>
                        <div class="item_img_wrapper img_in_right">
                            <img src="../public/imgs/3D-p2.jpg" alt="" />
                            <img src="../public/imgs/play.png" alt="" class="playbtn" />
                        </div>
                    </div>
                    <div class="content_3d_item">
                        <div class="item_img_wrapper">
                            <img src="../public/imgs/3D-p1.jpg" alt="" />
                            <img src="../public/imgs/play.png" alt="" class="playbtn" />
                        </div>
                        <div class="item_desc_wrapper">
                            <p>3D ANIMATE</p>
                            <p>Nosape eaqui non nobitati te ommos deria nos quatur? Pario comnit reris aut modic tecuptat omni ad explanditam verupis nia sequist la et liquo omnia</p>
                        </div>
                    </div>
                    <div class="content_3d_item">
                        <div class="item_desc_wrapper desc_in_left">
                            <p>3D ANIMATE</p>
                            <p>Nosape eaqui non nobitati te ommos deria nos quatur? Pario comnit reris aut modic tecuptat omni ad explanditam verupis nia sequist la et liquo omnia</p>
                        </div>
                        <div class="item_img_wrapper img_in_right">
                            <img src="../public/imgs/3D-p1.jpg" alt="" />
                            <img src="../public/imgs/play.png" alt="" class="playbtn" />
                        </div>
                    </div>
                    <div class="content_3d_item">
                        <div class="item_img_wrapper">
                            <img src="../public/imgs/3D-p2.jpg" alt="" />
                            <img src="../public/imgs/play.png" alt="" class="playbtn" />
                        </div>
                        <div class="item_desc_wrapper">
                            <p>3D ANIMATE</p>
                            <p>Nosape eaqui non nobitati te ommos deria nos quatur? Pario comnit reris aut modic tecuptat omni ad explanditam verupis nia sequist la et liquo omnia</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact" id="contact">
                <img src="../public/imgs/top.png" alt="" id="backtotop">
                <div class="contact_title">
                    <img src="../public/imgs/line_yellow.png" alt="" class="line_yellow" />
                    <p class="content_maintitle">CONTACT US</p>
                    <img src="../public/imgs/line_yellow.png" alt="" class="line_yellow" />
                </div>
                <div class="contact_detail">
                    <p>Email：eric@shining365.com</p>
                    <p>Mobile Phone：86 138 1690 3400</p>
                    <p>Tel：+86 21 6598 6866-304  +86 21 6598 3188-304</p>
                </div>
            </div>
            <div class="yl"></div>
            <div class="copyright" id="copyright">
                Copyright © 1998-2015 shining Group
            </div>
        </div>
        <script data-main="../js/animate3D" src="../js/require.js" charset="utf-8"></script>
    </body>

</html>
