<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="../css/reset.css" media="screen" title="no title">
        <link rel="stylesheet" href="../css/common.css" media="screen" title="no title">
        <link rel="stylesheet" href="../css/bim.css" media="screen" title="no title">
    </head>

    <body>
        <div class="wrapper root">
            <div class="nav clear" id="head">
                <ul class="nav_wrapper clear">
                    <li class="nav_item_normal"><a href="home.html">Home</a></li>
                    <li class="nav_item_normal"><a href="about.html">About</a></li>
                    <li class="nav_item_normal"><a href="rendering.html">Renderings</a></li>
                    <li class="nav_item_active"><a href="bim.html">BIM</a></li>
                    <li class="nav_item_normal"><a href="animate3D.html">3D Animate</a></li>
                    <li class="nav_item_normal"><a href="contact.html">Contact</a></li>
                </ul>
                <img src="../public/imgs/nav.png" alt="" class="nav_icon">
            </div>
            <div class="content" id="content">
                <div class="content_maintitle_wrapper">
                    <img src="../public/imgs/line_yellow.png" alt="" class="line_yellow" />
                    <p class="content_maintitle">BIM</p>
                    <img src="../public/imgs/line_yellow.png" alt="" class="line_yellow" />
                </div>
                <div class="content_main">
                    <div class="content_bg">
                        <div class="presentation_build build_1">
                            <div class="presentation">
                                <p class="presentation_title">1. MODEL COMPLETION</p>
                                <br>
                                <p class="presentation_content">Establishing and creating the visible and multi-dimension Architecture,Structural and MEP model</p>
                                <div class="presentation_img_wrapper">
                                    <img src="../public/imgs/BIM-p1-1.png" alt="">
                                    <img src="../public/imgs/BIM-p1-2.png" alt="">
                                    <img src="../public/imgs/BIM-p1-3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content_bg">
                        <div class="presentation_build build_2">
                            <div class="presentation">
                                <p class="presentation_title">2. CLASH DETECTION</p>
                                <br>
                                <p class="presentation_content">Completing the clash detection among various design parties,engineers and even different organisations in con struction drawings.</p>
                                <div class="presentation_img_wrapper horizonal_img">
                                    <img src="../public/imgs/BIM-p2-1.jpg" alt="">
                                    <img src="../public/imgs/BIM-p2-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content_bg">
                        <div class="presentation_build build_3">
                            <div class="presentation presentation_right">
                                <p class="presentation_title">3. MEP INTEGRATION</p>
                                <br>
                                <p class="presentation_content">Profoundly completing the pipeline integration, design coordination and intra-organisational cooperation between Plumbing, HVAC and Electrical engineering.</p>
                                <div class="presentation_img_wrapper horizonal_img">
                                    <img src="../public/imgs/BIM-p3-1.jpg" alt="">
                                    <img src="../public/imgs/BIM-p3-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content_bg">
                        <div class="presentation_build build_4">
                            <div class="presentation presentation_right">
                                <p class="presentation_title">4. Curtain Wall Remedying</p>
                                <br>
                                <p class="presentation_content">Creating the abnormity wall based on parametric design tools, and completing detailed curtain wall nodes visibly.</p>
                                <div class="presentation_img_wrapper vertical_img">
                                    <img src="../public/imgs/BIM-p4-1.jpg" alt="">
                                    <img src="../public/imgs/BIM-p4-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content_bg">
                        <div class="presentation_build build_5">
                            <div class="presentation">
                                <p class="presentation_title">5. BIM Consulting</p>
                                <br>
                                <p class="presentation_content">To help you to precisely know what is BIM? How BIM use? When and who is suitably to implement BIM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact" id="contact">
                <img src="../public/imgs/top.png" alt="" id="backtotop">
                <div class="contact_title">
                    <img src="../public/imgs/line_yellow.png" alt="" class="line_yellow" />
                    <p class="content_maintitle">CONTACT US</p>
                    <img src="../public/imgs/line_yellow.png" alt="" class="line_yellow" />
                </div>
                <div class="contact_detail">
                    <p>Email：eric@shining365.com</p>
                    <p>Mobile Phone：86 138 1690 3400</p>
                    <p>Tel：+86 21 6598 6866-304  +86 21 6598 3188-304</p>
                </div>
            </div>
            <div class="yl"></div>
            <div class="copyright" id="copyright">
                Copyright © 1998-2015 shining Group
            </div>
        </div>
        <script src="../js/common.js" charset="utf-8"></script>
        <script src="../js/bim.js" charset="utf-8"></script>
    </body>

</html>
